<!-- views/partials/nav.ejs -->

<nav class=" navbar opp-nav">
    <div class="logo-container">
        <p class="name">
            STEMbase
        </p>
    </div>
    <div class="navbar-options">
        <a class="tab" id="opp" href="home">OPPORTUNITIES</a>
        <a class="tab" href="upload">ADD+</a>
    </div>
</nav>
<div class="ombre-below"></div>
