<!-- views/partials/nav.ejs -->

<nav class="navbar-stem opp-nav">
    <div class="logo-container-stem">
        <p class="name-stem">
            STEMbase
        </p>
    </div>
    <div class="navbar-options-stem">
        <a class="tab-stem" id="opp" href="/opportunities">OPPORTUNITIES</a>
        <a class="tab-stem" href="/upload">ADD+</a>
    </div>
</nav>
<div class="ombre-below"></div>
