/* styles */
/* called by your view template */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.navbar-stem {
  background-color: #1F1F1F;
  width: 100%;
  margin-top: 0px;
  height: 70px;
  padding-right: 18px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 999;
}

.ombre-below {
  width: 100%;
  position: fixed;
  padding-right: 18px;
  margin-top: -30px;
  background-image: linear-gradient(to right, #919dc5, #eeaacd);
  height: 6px;
  z-index: 1000;
}
.navbar-options-stem {
  margin-top: 30px;
  margin-right: 10px;
}

.logo-container-stem {
  display: flex;
  flex-direction: row;

}

.logo {
  width: 200px;
  margin-right: -50px;
}

.name-stem {
  color: white;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 20px;
}

.tab-stem {
  text-decoration: none;
  color: #EBEBEB;
  margin-top: 50px;
  margin-left: 30px;
  font-weight: 700;
}

.tab-stem:hover {
  background-image: linear-gradient(to right, #919dc5, #eeaacd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

body {
  background-color: white;
  color: #1F1F1F;
}

.bold {
  font-weight: 700;
}

.main {
  margin-top: 100px;
  margin-bottom: 20px;
}
.upload-main {
  display: flex;
  justify-content: center;
}

.upload-form {
  background-color: #1F1F1F;
  color: #EBEBEB;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  justify-content: center;
}

.upload-border {
  width: 90%;
  height: 90%;
  display: flex;
  padding: 15px;
  border-radius: 40px;
  justify-content: center;
  background: linear-gradient( to bottom, #A19AC1, #EEAACD);
  background-repeat: no-repeat;
  background-size: cover;
}

.upload-org {
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  padding: 5px;
  color: #1F1F1F;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 100%;
}

.currency-dropdown {
  margin-left: -10px;
}

.input:focus{
  outline: none;
}

select:focus{
  outline: none;
}

#price {
  padding: 4.5px;
  padding-right: 0px;
  margin-left: 0px;
}

.upload-header {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.upload-button {
  padding: 5px;
  color: white;
  background-color: #1F1F1F;
  padding: 20px 40px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 10px;
}

.upload-bb {
  margin: auto;
  margin-top: 30px;
  padding: 4px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #A19AC1, #EEAACD);
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: white;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #A19AC1;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#country, #state {
  margin-bottom: 20px;
}

td #country, td #state {
  margin-bottom: 0px;
}

.upload-button:hover {
  font-weight: bold;
  background: none;
}

label {
  color: #1F1F1F;
  margin: 0px 10px;
}

.type-label {
  font-weight: 700;
  font-size: 14px;
}
.datepicker {
  padding: 5px;
  color: #1F1F1F;
}

#currency-type {
  padding: 5px;
  margin-top: 3px;
}

description {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 1200px;
}

select {
  border: 0;
  margin: 0px 10px;
  margin-bottom: 10px;
  border-radius: 0;
  z-index: 0;
}
.message {
  margin-left: 10px;
  width: 98%;
  margin-right: 10px;
}

.tags-stem {
  color: #1F1F1F;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cat-name {
  background-image: linear-gradient(to right, #919dc5, #eeaacd);
  text-transform: uppercase;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px 15px;
  border-radius: 10px;
  padding-top: 6.5px;
  font-size: 12px;
  text-align: center;
}

.upload-label {
  margin: 15px 10px;
  color: #EBEBEB;
}

.type-name {
  background-image: linear-gradient(to right, #919dc5, #eeaacd);
  text-transform: uppercase;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px 15px;
  padding-top: 6.5px;
  text-align: center;
}

.radio-top {
  margin-bottom: 15px;
}

.opp-name {
  margin: 10px 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
}

.single-container-stem {
  margin-top: 20px;
  background-color: #1F1F1F;
  color: #EBEBEB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px 10px 10px 30px;
  border-radius: 10px;
  transition: 0.4s;
}

.active, .single-container-stem:hover {
  cursor: pointer;
}

.panel-stem {
  color: #1F1F1F;
}

.panel-admin {
  color: #EBEBEB;
}

.panel-stem, .panel-admin {
  margin: 0px 30px;
  font-size: 14px;
  overflow: hidden;
}

.visible {
  display: none;
}

.opp-right {
  text-align: right;
  margin-right: 30px;
}

.opp-main {
  width: 100%;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  background-color: #EBEBEB;
  border-radius: 10px;
}

.opp-container {
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.display-title {
  color: #2F6A75;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.display-website {
  font-size: 20px;
  text-align: center;
  color: #EF7B45;
  word-wrap: break-word;
}

.sort {
  background-color: white;
  width: 100%;
  height: 60px;
  margin-top: -10px;
  margin-left: -8px;
  padding-right: 16px;
  box-shadow: 0px 12px 15px -10px #042A2B;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  position: relative;
}

.label-sort {
  margin-left: 20px;
  margin-right: 20px;
}

.dropbtn {
  background-color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 20px;
  margin-left: 20px;
  font-size: 16px;
}

.dropdown {
  margin-left: 10px;
  margin-right: 10px;
}

.select-class {
  width: 100%!important;
}

.dropdown-content {
  display: none;
  margin-left: 30px;
  position: absolute;
  background-color: white;
  min-width: 160px;
  color: #042A2B;
}

.dropdown-content button {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #042A2B;
  background-color: white;
  border: none;
  font-size: 16px;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #5EB1BF;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #EF7B45;
}

.sort-label {
  margin-left: 20px;
}

.type {
  margin-left: 100px;
}

.background-text {
}

.home-img {
  width: 100%;
  height: 250px;
  color: white;
}

.sent-one {
  top: 30%;
  right: 35%;
  color: white;
  margin-top: -200px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.sent-two {
  color: white;
  text-align: center;
}

.sent-three {
  color: white;
  text-align: center;
}
.part-one {
  float: left;
  width: 50%;
  margin-left: 100px;
  background-color: white;
}

.part-two {
  float: left;
  width: 50%;
  margin-left: 100%;
  background-color: white;
}

.title-one {
  color: #2f6a75;
  text-align: center;
}

.title-two {
  text-align: center;
  color: #2f6a75;
}

.all-button {
  background-color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

option {
  color: #1F1F1F;
}

option:active, option:hover{
  background-image: linear-gradient(to right, #919dc5, #eeaacd);
  color: white;
}

.options {
  margin-left: 20px;
  margin-right: 10px;
}

.dropdown-upload{
  margin-top: 10px;
  width: 100%;
}

span.select2-selection.select2-selection--single {
  outline: none;
}

.select2-container--default .select2-results>.select2-results__options {
    background-color: white;
    color: black;
}

.opp-divider {
  background-color: #858585;
  width: 3px;
  margin-left: 30px;
  height: 100%;
}

.filter {
  display: flex;
  flex-direction: row;
}

.container-opp {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 25px;
  width: 100px;
  margin-right: 40px;
  margin-top: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-opp input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.container-opp:hover input ~ .checkmark {
  background-color: #ccc;
}

.container-opp input:checked ~ .checkmark {
  background-image: linear-gradient(to right, #919dc5, #eeaacd);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-opp input:checked ~ .checkmark:after {
  display: block;
}

.container-opp .checkmark:after {
  left: 7px;
  top: 4.5px;
  width: 6px;
  height: 9px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter-type {
  font-weight: bold;
}

.details-name {
  font-weight: bold;
  font-size: 16px;
}

.details {
  color: #1F1F1F;
}

.details-link {
  color: #1F1F1F;
  text-decoration: none;
}

.details-link:hover {
  display:inline-block;
  cursor: pointer;
  width: auto;
  font-weight: bold;
  background-image: linear-gradient(to right, #919dc5, #eeaacd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-left: 120px;
}

.button {
  cursor: pointer;
  color: #1F1F1F;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 0px 5px;
  margin-top: -30px;
  margin-bottom: 20px;
}

.button-inactive:hover {
  color: white;
  background-image: linear-gradient(to right, #919dc5, #eeaacd);
  border-radius: 20px;
}

.page-nav-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.button-hidden {
  display: none;
}

.dot-start {
  display: none;
}

.login-form {
  width: 300px;
  margin: auto auto;
  background: #1F1F1F;
  padding: 30px 40px 50px 40px;
}

.login-form h1 {
  text-align: center;
  color: white;
  font-size: 24px;
}

.login-form input[type="password"],
.login-form input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 10px 0px;
  border: 1px solid #dddddd;
  box-sizing:border-box;
}

.login-form button[type="submit"] {
  width: 100%;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  background: #1F1F1F;
}

.login-form button[type="submit"]:hover {
  background: linear-gradient(to bottom right, #919dc5, #eeaacd);
  color: #1F1F1F;
}

.submit-text {
  text-height: 100%;
  width: 100%;
  padding: 15px 0px;
  background-image: linear-gradient(to right, #919dc5, #eeaacd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: bold;
}

.submit-text:hover {
  -webkit-text-fill-color: #1F1F1F;
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-body {
  background: red;
  background: linear-gradient( to bottom, #A19AC1, #EEAACD);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: hidden;
}

.submit-border {
  margin: 10px 0px 0px 0px;
  padding: 5px 5px;
  background: linear-gradient(to bottom right, #A19AC1, #EEAACD);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

thead {
  float: left;
}

thead th {
  display: block;
  text-align: left;
  margin-right: 20px;
}

tbody {
  float: right;
}

tr {
  float: left;
}

td {
  display: block;
}

td:empty::after{
  content: "\00a0";
}

.single-admin-container {
  margin-top: 20px;
  background-image: linear-gradient(to right, #919dc5, #eeaacd);
  font-weight: bold;
  box-shadow: 0px 5px 5px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 10px;
  border-radius: 10px;
  transition: 0.4s;
}

.admin-container, .published-container {
  flex: 4 1;
  height: 500px;
  overflow-y: auto;
  background-color: #333333;
  color: #EBEBEB;
  margin-top: 20px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.table-span {
   overflow:hidden;
   padding: 0px;
   max-width:400px;
   display: block;
   white-space: nowrap;
}

.admin-main {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.modal, .modal-body {
    max-height: 100%;
    overflow-y: auto;
  }

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.modalTextArea {
  width: 400px;
  height: 50px;
}

.modalHead {
  height: 55.5px;
  vertical-align: middle;
}

.th-container {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.trigger {
  cursor: pointer;
}

.delete {
  padding-left: 10px;
  cursor: pointer;
}

.admin-left {
  width: 80%;
}

#admin-header {
  text-align: center;
  color: #EBEBEB;
}

.admin-body {
  background-color: #1F1F1F;
}

div::-webkit-scrollbar-track
{
	border: 5px solid #333333;
	// border color does not support transparent on scrollbar
	// border-color: transparent;
	background-color: #EBEBEB;
}

div::-webkit-scrollbar
{
	width: 15px;
	background-color: #EBEBEB;
}

div::-webkit-scrollbar-thumb
{
	background-image: linear-gradient(to bottom, #919dc5, #eeaacd);
	border-radius: 10px;
}
