<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs'); -%>

    <body class="login-body">
  		<div class=" navbar-stem opp-nav">
        <div class="logo-container-stem">
          <p class="name-stem">
            STEMbase
          </p>
        </div>
        <div class="navbar-options-stem">
          <a class="tab-stem" href="/home">HOME</a>
        </div>
      </div>
  		<div class="login-container">
  			<div class="login-form">
  				<h1>Admin Login</h1>
  				<form action="auth" method="POST">
  					<input type="text" name="username" placeholder="Username" required>
  					<input type="password" name="password" placeholder="Password" required>
  					<div class="submit-border">
  						<button type="submit"><div class="submit-text">Submit</div></button>
  					</div>
  				</form>
  			</div>
  		</div>

        <%- include('../partials/footer.ejs'); -%>

        <%- include('../partials/scripts.ejs'); -%>

    </body>
</html>
