<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs'); -%>

    <body>

        <%- include('../partials/nav'); -%>
        
        <div class="opp-container">
          <div class="filter">
            <div class="options">

              <label value="type" class="type-label">Type</label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="Competition">
                  <span class="checkmark"></span>
                  Competition
                </label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="Conference">
                  <span class="checkmark"></span>
                  Conference
                </label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="CTF">
                  <span class="checkmark"></span>
                  CTF
                </label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="Hackathons">
                  <span class="checkmark"></span>
                  Hackathon
                </label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="Internship">
                  <span class="checkmark"></span>
                  Internship
                </label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="Learning">
                  <span class="checkmark"></span>
                  Learning
                </label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="Lecture">
                  <span class="checkmark"></span>
                  Lecture
                </label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="Mentorship">
                  <span class="checkmark"></span>
                  Mentorship
                </label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="Research">
                  <span class="checkmark"></span>
                  Research
                </label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="Scholarship">
                  <span class="checkmark"></span>
                  Scholarship
                </label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="Summer Camp">
                  <span class="checkmark"></span>
                  Summer Camp
                </label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="Tutoring">
                  <span class="checkmark"></span>
                  Tutoring
                </label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="Volunteer">
                  <span class="checkmark"></span>
                  Volunteer
                </label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="Webinar">
                  <span class="checkmark"></span>
                  Webinar
                </label>

                <label type="checkbox" checked="checked" class="name-type container-opp">
                  <input type="checkbox" class="type-filter" value="Other">
                  <span class="checkmark"></span>
                  Other
                </label>

                <label value="type" class="type-label" style="margin-top: 20px">Category</label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Artifical Intelligence">
                    <span class="checkmark"></span>
                    Artifical Intelligence
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Biology">
                    <span class="checkmark"></span>
                    Biology
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Chemistry">
                    <span class="checkmark"></span>
                    Chemistry
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Computer Science">
                    <span class="checkmark"></span>
                    Computer Science
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Cyber Security">
                    <span class="checkmark"></span>
                    Cyber Security
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Engineering">
                    <span class="checkmark"></span>
                    Engineering
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Lecture">
                    <span class="checkmark"></span>
                    Lecture
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Entrepreneurship">
                    <span class="checkmark"></span>
                    Entrepreneurship
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Research">
                    <span class="checkmark"></span>
                    Research
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Enviromental Science">
                    <span class="checkmark"></span>
                    Enviromental Science
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Math">
                    <span class="checkmark"></span>
                    Math
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Medicine">
                    <span class="checkmark"></span>
                    Medicine
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Physics">
                    <span class="checkmark"></span>
                    Physics
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Robotics">
                    <span class="checkmark"></span>
                    Robotics
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Technology">
                    <span class="checkmark"></span>
                    Technology
                  </label>

                  <label type="checkbox" checked="checked" class="name-type container-opp">
                    <input type="checkbox" class="category-filter" value="Other">
                    <span class="checkmark"></span>
                    Other
                  </label>


            </div>
            <div class="opp-divider"></div>
          </div>


          <div class="opp-main">
            <div class="opp-container"></div>
          </div>

        </div>
        <div class="button-container">
          <div class="back button button-inactive"> &larr; Prev </div>
          <div class="page-nav-container"></div>
          <div class="next button button-inactive">Next &rarr; </div>
        </div>

        <%- include('../partials/footer.ejs'); -%>

        <%- include('../partials/scripts.ejs'); -%>

    </body>
</html>
