
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>STEMbase</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" type="text/css" href="style.css" />

  </head>
  <body>
    <div class="navbar">
      <div class="logo-container">
        <p class="name">
          STEMbase
        </p>
      </div>
      <div class="navbar-options">
        <a class="tab" href="index.html">HOME</a>
        <a class="tab" href="opportunities.html">OPPORTUNITIES</a>
        <a class="tab" href="upload.html">ADD+</a>
      </div>
    </div>
    <div class="ombre-below"></div>
    <div class="main" <div />

    <div class="content1">
      <div class="part1">
        <h1 class="title-one">
          WHAT IS STEMBASE?
        </h1>
        <p>
          STEMbase is a database to help girls in the United States find
          opportunities in STEM related camps and activities; especially those
          who are from areas that do not have a tech culture and their schools
          do not offer extracurriculars to develop their skills It can be
          overwhelming to sift through the internet trying to seek out
          beneficial camps, but with our site, all of this data can be
          centralized and easy to access for students. This site will help girls
          find opportunities to gain knowledge in Computer Science as well as
          different areas of math, physics, etc. Becuase our site revolves
          around student shared information, other student who browse our site
          can see different opportunities in the perspective of a fellow peer,
          ultimatley helping them see if the activity is something they would
          enjoy.
        </p>
      </div>
    </div>

    <div class="content2">
      <div class="part2">
        <h1 class="title-two">
          BE A PART OF STEMBASE!
        </h1>

        <p>
          The site is very simple to use. To browse the different opportunities
          offered throughout the country, you can go to the opportunties page
          which is filled with a wide variety of camps and activities to choose
          from. To upload a camp/activity to share with your fellow peers, go to
          the upload page where you can fill in information about the activity
          and express your perspective on the camp to help others choose whether
          they are interested in that camp or not.
        </p>
      </div>
    </div>

  </body>
</html>
