<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>STEMbase</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" type="text/css" href="style.css" />

  </head>
	<body class="login-body">
		<div class=" navbar opp-nav">
      <div class="logo-container">
        <p class="name">
          Connect Z
        </p>
      </div>
      <div class="navbar-options">
        <a class="tab" href="index.html">HOME</a>
      </div>
    </div>
		<div class="login-container">
			<div class="login-form">
				<h1>Login Form</h1>
				<form action="auth" method="POST">
					<input type="text" name="username" placeholder="Username" required>
					<input type="password" name="password" placeholder="Password" required>
					<div class="submit-border">
						<button type="submit"><div class="submit-text">Submit</div></button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
