<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>STEMbase</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" type="text/css" href="style.css" />
    <!-- import the webpage's client-side javascript file -->
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


  </head>
  <body class="upload-page" onload="initialize()">
    <div class=" navbar opp-nav">
      <div class="logo-container">
        <p class="name">
          Connect Z
        </p>
      </div>
      <div class="navbar-options">
        <a class="tab" href="index.html">HOME</a>
        <a class="tab" id="opp" href="opportunities.html">OPPORTUNITIES</a>
        <a class="tab" href="upload.html">ADD+</a>
      </div>
    </div>
    <div class="ombre-below"></div>
    <div class="upload-main main">


      <div class="upload-border">
    <form class="upload-form">
      <p class="upload-header">UPLOAD AN OPPORTUNITY NOW!</p>

      <label class="upload-label">Name</label>
      <input
        class="input"
        type="text"
        id="name-opportunity"
        placeholder="Name of Opportunity"
        required
      />



      <label class="upload-label" value="type">Category</label>
      <div class="dropdown">
      <select class="js-example-basic-single select-class" id="category">
        <option data-placeholder>Choose a Category</option>
        <option class="name-type" value="Summer Camp">Competition</option>
        <option class="name-type" value="Internship">Conference</option>
        <option class="name-type" value="Mentorship">CTF</option>
        <option class="name-type" value="Learning">Hackathon</option>
        <option class="name-type" value="Social">Internship</option>
        <option class="name-type" value="Hackathons">Leadership</option>
        <option class="name-type" value="CTF">Learning</option>
        <option class="name-type" value="Competition">Lecture</option>
        <option class="name-type" value="Other">Mentorship</option>
        <option class="name-type" value="Hackathons">Research</option>
        <option class="name-type" value="CTF">Scholarship</option>
        <option class="name-type" value="Competition">Summer Camp</option>
        <option class="name-type" value="Other">Tutoring</option>
        <option class="name-type" value="CTF">Volunteer</option>
        <option class="name-type" value="Competition">Webinar</option>
        <option class="name-type" value="Other">Other</option>
      </select>
    </div>

      <label value="type" class="upload-label">Type</label>
      <div class="dropdown">
      <select class="js-example-basic-single select-class" id="type">
        <option class="name-type" value="Summer Camp">Summer Camp</option>
        <option class="name-type" value="Internship">Internship</option>
        <option class="name-type" value="Mentorship">Mentorship</option>
        <option class="name-type" value="Learning">Learning</option>
        <option class="name-type" value="Social">Social</option>
        <option class="name-type" value="Hackathons">Hackathons</option>
        <option class="name-type" value="CTF">CTF</option>
        <option class="name-type" value="Competition">Competition</option>
        <option class="name-type" value="Other">Other</option>
      </select>
      </div>

      <label class="upload-label">Location</label>
      <input
        class="input"
        type="text"
        id="country"
        placeholder="Country (Leave empty if not applicable)"
      />
      <input
        class="input"
        type="text"
        id="state"
        placeholder="State (Leave empty if not applicable)"
      />
      <input
        class="input"
        type="text"
        id="city"
        placeholder="City (Leave empty if not applicable)"
      />

      <label class="upload-label">Start/End Date</label>
      <div class= "upload-org">
      <input type="radio" id="ongoing" value="Ongoing" name="date-range" />
      <label class="radio-inline radio-top" for="ongoing">
        Ongoing</label>
      </div>

      <div class= "upload-org">
      <input
          type="radio"
          id="intermittent"
          value="Intermittent"
          name="date-range"
        />

        <label class="radio-inline " for="intermittent">
            <input id="start-date" class="datepicker" type="date" />
            <input id="end-date" class="datepicker" type="date" />
        </label>
      </div>

      <label class="upload-label">Application Deadline?</label>

      <input
          type="radio"
          id="yes-date"
          name="deadline"
          class="deadline"
          value="Yes"
        />
        <label class="radio-inline radio-top" for="yes-date">Yes</label>

      <div class="upload-org">
      <input
          type="radio"
          id="no-date"
          name="deadline"
          class="deadline"
          value="No"
        />
        <label class="radio-inline" for="no-date">
            <input type="date" class="datepicker" id="application-deadline" />
        </label>
      </div>

      <label class="upload-label">Does it cost money?</label>

      <input
        type="radio"
        id="no-cost"
        name="cost"
        value="No Cost"
      />
        <label class="radio-inline radio-top" for="no-cost">
         No</label>

      <div class= "upload-org">
      <input
        type="radio"
        id="yes-cost"
        name="cost"
        value="Yes Cost"
        />

        <label class="radio-inline" for="yes-cost">
        <input type="number" step="any" id="price" class="input currency-input" placeholder="Price" />
        </label>
        <div class="currency-dropdown">
        <select class="js-example-basic-single select-class" id="currency-type">
          <option class="currency-type" value="US dollar (USD)">US dollar (USD)</option>
          <option class="currency-type" value="Euro (EUR)">Euro (EUR)</option>
          <option class="currency-type" value="Pound sterling (GBP)">Pound sterling (GBP)</option>
          <option class="currency-type" value="Australian dollar (AUD)">Australian dollar (AUD)</option>
          <option class="currency-type" value="Canadian dollar (CAD)">Canadian dollar (CAD)</option>
          <option class="currency-type" value="New Zealand dollar (NZD)">New Zealand dollar (NZD)</option>
        </select>
        </div>

      </div>


      <label class="upload-label">Description</label>
      <textarea class="input" rows="4" id="description" required></textarea>

      <label class="upload-label">Link</label>
      <input
        class="input"
        type="url"
        id="link"
        placeholder="Paste Link to Opportunity"
        required
      />

      <div class="upload-bb">
        <button type="submit" class="upload-button"><div>Submit</div></button>
      </div>
    </form>
  </div>
  </div>
    <script src="script.js"></script>
  </body>
</html>
